.rotating3 {
  -webkit-animation: rotatingg 4s linear infinite;
  -moz-animation: rotatingg 4s linear infinite;
  -ms-animation: rotatingg 4s linear infinite;
  -o-animation: rotatingg 2s linear infinite;
  animation: rotatingg 4s linear infinite;
}

.donecek3 {
  position: absolute;
  /*width: 86px;*/
  /*height: 86px;*/
  display: table-row-group;
  /*background-color: #00341d;*/
  top: 0;
  left: -43px;
  content: "";
  border-radius: 50%;
  border-style: dashed;
  /*transform: translateY(-50%);*/
  border-width: 1px;
  border-color: #ffffff00;
  z-index: -1;
}

.teambaslik {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media (max-width: 768px) {
  .teambaslik {
    height: 4rem;
  }
}

@media (min-width: 768px) {
  .teambaslik {
    height: 10rem;
  }
}

.appsecheading {
  font-family: 'Aquire';
  position: relative;
  line-height: 86px;
  margin-bottom: 0;
  font-weight: bold;
  background: linear-gradient(to right, #21965a 0%, #00b2c2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 20px rgba(33,150,90,0.42);
}

.appsecminiheading {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  color: #fff;
  font-weight: 200;
}

.appsecparagraph {
  font-family: Montserrat, sans-serif;
  color: #fff;
}

.appsecimgcol {
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media (max-width: 768px) {
  .appsecimg {
    max-width: 55%;
    z-index: 2;
  }
}

@media (min-width: 768px) {
  .appsecimg {
    max-width: 45%;
    z-index: 2;
  }
}

@media (min-width: 768px) {
  .appsecchains {
    position: absolute;
    width: 100%;
    left: 50%;
    /*height: 100%;*/
    z-index: -1;
    transform: translateX(-50%) translateY(-50%) scale(1.2);
    top: 50%;
  }
}

@media (max-width: 768px) {
  .appsecchains {
    position: absolute;
    width: 100%;
    left: 50%;
    /*height: 100%;*/
    z-index: -1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
    top: 50%;
  }
}

@media (max-width: 768px) {
  .shine {
    position: absolute;
    width: 100%;
    left: 50%;
    /*height: 100%;*/
    z-index: -1;
    transform: translateX(-50%) translateY(-50%) scale(1.2);
    top: 50%;
  }
}

@media (min-width: 768px) {
  .shine {
    position: absolute;
    width: 100%;
    left: 50%;
    /*height: 100%;*/
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
  }
}

.noktaa {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: rgb(45,221,134);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: -.5rem;
  box-shadow: 0px 0px 20px rgb(45,221,135);
}

.appsecyazicol {
  position: relative;
}

.carousel .mycard p {
  font-size: .5rem;
}

.carousel .mycard h4 {
  font-size: .8rem;
  margin-bottom: 0;
}

.carousel .mycardoverlay {
  padding: .5rem .5rem 0;
  border-radius: 1rem;
}

.mobildepadding {
  padding: 2rem 0;
}

@media (max-width: 768px) {
  .text.headertext {
    font-size: 2.7rem;
    word-wrap: break-word!important;
    word-break: break-word!important;
    padding-left: 1rem;
  }
}

@media (min-width: 768px) {
  .soldakiiconlar {
    display: inline-grid;
  }
}

.star {
  position: absolute;
  z-index: -1;
}

@media (max-width: 768px) {
  .star.star-2 {
    left: 54%;
  }
}

@media (min-width: 768px) {
  .star.star-2 {
    left: 20%;
  }
}

.accordion-body p {
  font-family: 'Montserrat';
  color: #ffffff;
  font-weight: 200;
}

.tokensrow .col:not(:last-child) {
  border-bottom: .5px #21965a solid;
}

.tokenslist li {
  display: flex;
  align-items: center;
}

.socialiconlist li a {
  text-decoration: none;
  padding: .5rem .7rem;
  background: linear-gradient(118deg, rgba(33,150,90,0.1), rgba(0,178,194,0.2));
  font-family: 'Aquire';
  border-radius: 0;
  display: flex;
  align-items: center;
  transition-duration: .2s;
}

@media (max-width: 768px) {
  .appsecparagraph, .appsecminiheading, .appsecheading {
    overflow-x: hidden;
  }
}

.menulist li:last-child a h1 {
  /*line-height: 2rem;*/
}

.overflow-y-hidden {
  overflow-y: hidden;
}

@media (min-width: 768px) {
  .socialiconlist svg {
    margin-right: .5rem;
  }
}

.socialiconlist li a span {
  background: linear-gradient(to right, #21965a 0%, #00b2c2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .socialiconlist svg {
    color: #1d9d73;
  }
}

@media (max-width: 768px) {
  .socialiconlist svg {
    color: #21965a;
    /*background: linear-gradient(to right, #21965a 0%, #00b2c2 100%);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
  }
}

@media (max-width: 768px) {
  .socialiconlist li a {
    font-size: 1.4rem;
    border-radius: 26px;
    padding: 11px!important;
  }
}

#toast-1 {
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 16;
  width: 500px;
  border-radius: 6rem;
  border-width: 1px;
  border-style: solid;
}

.black-gradient-top {
  height: 30vh;
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(black, rgba(0,0,0,0));
  z-index: 2;
}

.black-gradient-bottom {
  height: 20vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0), black);
  z-index: 2;
}

.black-gradient {
  opacity: 0;
  transition-duration: .2s;
}

.black-gradient.scrolled {
  opacity: 1;
}

.tokenomic-detail-col {
  color: #fff;
  font-family: 'Montserrat';
}

.tokenomic-p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  font-weight: lighter;
  color: #fff;
  align-items: center;
}

.tokenomic-category-name {
  display: flex;
  gap: .5rem;
  font-weight: 300;
}

.tokenomic-item {
  padding: 1rem;
  background-color: rgba(255,255,255,0.1);
  border-radius: 1rem;
  border-style: solid;
  border-width: 0px 0px 0px 6px;
  transition-duration: .2s;
  width: 100%;
}

.tokenomic-item-inner-div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.tokenomic-detailed-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.tokenomic-price-span {
  display: flex;
  gap: .5rem;
}

.tokenomic-chart {
  /*position: sticky;*/
  /*top: 1rem;*/
}

.tokenomic-item:hover {
  transform: scale(1.05);
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.tokenomic-ite {
}

.tokenomic-p > span:last-child {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.tokenomic-item, .tokenomic-item .tokenomic-p:first-child span:first-child span {
}

.tokenomic-category-name span {
  font-weight: bold;
}

@media (max-width: 768px) {
  .partners-row img, .partners-row svg {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .partners-row img, .partners-row svg {
    width: 75%;
    min-width: 75%;
    max-width: 75%;
  }
}

.partners-row {
  margin-left: auto;
  margin-right: auto;
}

.partners-row img, .partners-row svg {
  margin: auto!important;
}

.aquire {
  font-family: 'Aquire';
}

.accordion-body .aquire {
  font-size: 1.2rem;
  font-weight: bold;
}

.footer-logo {
  width: 10rem;
}

footer h3 {
  font-family: 'Aquire';
}

footer a {
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 300;
}

footer a:hover {
  text-decoration: underline;
}

.loader--text {
  font-family: 'Aquire';
  margin-bottom: 0;
}

.menubutton.btn-dark {
  background-color: #292929;
}

.menu-open-btn .icon-tabler-menu {
}

p {
  font-family: 'Montserrat';
}

.mobile-menu.open .menu-other-button {
  display: none;
}

.home-icon {
  /*position: absolute;*/
  /*right: 15%;*/
  /*top: 50%;*/
  /*transform: translateY(-50%);*/
}

.mobile-menu .btn {
  position: relative;
}

img {
}

img {
}

.mobile-menu.open .goaction-icon-on-menu {
  display: none;
}

.mobile-menu .btn:not(.menu-other-button) {
  display: flex;
  justify-content: space-between;
  height: 3.1rem;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  background-color: #292929;
}

.mobile-menu:not(.open) .btn.gotohomemenubutton {
  display: none;
}

.mobile-menu.open .mobilemenu-buttons {
  border-top: 1px solid rgba(33,150,90,0.5);
}

.subscribe-div {
  padding: 1rem 2rem;
  background-image: url("../../assets/img/area-for-connect.svg");
  background-size: cover;
  background-position: center bottom;
  border: 1px #21965a solid;
  /*height: 75vh;*/
  border-radius: 2rem;
  display: grid;
  /*justify-content: center;*/
  align-content: end;
  /*background: linear-gradient(to right, rgba(33,150,90,0.22) 0%, rgba(0,178,194,0.21) 100%);*/
}

.myinputt::placeholder {
  color: #ffffff;
}

.footer {
  padding-bottom: 7rem;
  color: #fff;
}

.footer .col {
  display: grid;
  align-items: center;
}

.footer ul li a {
  color: #1d9d73;
  padding: .5rem;
  font-size: 1.2rem;
  background-color: #292929;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .col-12 {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .footer .col-12:first-child {
    justify-content: start;
  }
}

@media (min-width: 768px) {
  .footer .col-12:last-child {
    justify-content: end;
  }
}

.footer .col-12:nth-child(2) {
  justify-content: center;
}

.mygreyinput {
  padding: 1rem 2rem;
  border-radius: 2rem;
  width: clamp(10rem , 20rem , 100%);
  background-color: #292929;
  border: none;
}

.greybutton {
  padding: 1rem 2rem;
  border-radius: 3rem;
  border: none;
  background: linear-gradient(118deg, rgba(33,150,90,0.25), rgba(0,178,194,0.3));
  color: #fff;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.footer-social-list {
  width: 100%;
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

.accordion-button {
}

.links-list a {
  text-decoration: none;
  color: rgba(255,255,255,0.75);
}

.faq .nav-pills .nav-item .nav-link.active {
  background: #111111;
  position: relative;
}

.faq .nav-pills .nav-item .nav-link.active::before {
  content: "";
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  position: absolute;
  background: linear-gradient(to right, #21965a 0%, #00b2c2 100%);
  left: 50%;
  top: 50%;
  z-index: -1;
  transform: translate(-50% , -50%);
  border-radius: 3rem;
}

.faq .nav-pills .nav-item .nav-link.active span {
  background: linear-gradient(to right, #21965a 0%, #00b2c2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.faq .nav-pills .nav-item .nav-link span {
  color: rgba(255,255,255,0.5);
  white-space: nowrap;
}

@media (max-width: 992px) {
  .faq .nav.nav-pills {
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    scrollbar-width: thin;
  }
}

.footer-boring-links.links-list {
  padding-top: .5rem;
  padding-bottom: .5rem;
  z-index: 3;
}

@media (min-width: 768px) {
  .header-image-wrapper {
    justify-content: start;
  }
}

.header-image-wrapper {
  justify-content: center;
}

