@media (max-width: 576px) {
  img, svg {
    vertical-align: middle;
  }
}

.anasayfakisim {
  margin-bottom: 4rem;
}

.features .col {
  margin-bottom: 2rem;
  /*padding: 1rem;*/
  /*scrollbar-width: hidden;*/
}

.features .baslik {
  text-align: left;
  font-family: 'Aquire';
  margin-top: 2rem;
  margin-bottom: 1rem;
  /*min-height: 62px;*/
}

.features p {
  text-align: left;
  font-size: 1.1rem;
  color: #fff;
  font-weight: 200;
  font-family: Montserrat, sans-serif;
}

img, svg {
  vertical-align: middle;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  outline: none;
  padding: 0;
}

*::after {
  margin: 0;
  padding: 0;
}

*::before {
  margin: 0;
  padding: 0;
}

#map {
  height: 50vh;
  border-width: 2px 0 2px 0;
  border-style: solid;
  border-color: #21965a;
}

.myinputt {
  padding: .375rem .75rem;
  font-size: 1rem;
  background-clip: padding-box;
  background: linear-gradient(118deg, rgba(0,178,194,0.3), rgba(33,150,90,0.25));
  border: 1px #21965a solid;
  color: #fff!important;
  font-family: 'Aquire';
  opacity: 1;
}

.mybutton {
  border-radius: 0;
  background: linear-gradient(118deg, rgba(33,150,90,0.25), rgba(0,178,194,0.3));
  border-color: #21965a;
  color: #ffffff;
  font-family: 'Aquire';
}

.mybutton:hover {
  border-radius: 0;
  background: linear-gradient(to right, rgba(33,150,90,0.7) 0%, rgba(0,178,194,0.7) 100%);
  border-color: #21965a;
  color: #ffffff;
  font-family: 'Aquire';
  box-shadow: 0px 0px 20px rgba(33,150,90,0.42);
}

.greenshadow-box {
  box-shadow: 0px 0px 20px rgba(33,150,90,0.42);
}

.mycardoverlay {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--bs-card-img-overlay-padding);
  border-radius: 2rem;
  background: linear-gradient(rgba(0,0,0,0) 0%, black 100%);
  color: #fff;
  font-family: 'Aquire';
  padding-bottom: 0;
}

.mycard {
  border-width: 0;
  background-image: url("../../assets/img/area3.svg");
  background-color: rgba(0,0,0,0.81);
  border-radius: 2rem;
}

.carousel .mycard {
  border-width: 0;
  background-image: url("../../assets/img/area3.svg");
  background-color: rgba(0,0,0,0.81);
  border-radius: 1rem;
  background-size: 200%;
}

@media (min-width: 768px) {
  .mycard .card-img {
    filter: grayscale(100%);
    border-radius: 2rem;
  }
}

@media (max-width: 768px) {
  .mycard .card-img {
    filter: grayscale(100%);
    border-radius: 1rem;
  }
}

.carousel .mycard .card-img {
  filter: grayscale(100%);
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .mobildegoster {
    display: none!important;
  }
}

@media (max-width: 768px) {
  .masaustundegoster {
    display: none!important;
  }
}

