.referanslar a {
  pointer-events: none;
}

:-webkit-any-link {
  /*color: #4e9815;*/
}

:any-link {
  /*color: #4e9815;*/
}

@media (min-width: 768px) {
  .referanslar img {
    max-width: 8rem;
    margin: -.5rem 1rem!important;
  }
}

@media (max-width: 768px) {
  .referanslar img {
    max-width: 5rem;
    margin: -1rem .5rem!important;
  }
}

