.text {
  background: linear-gradient(to right, #21965a 0%, #00b2c2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.greenshadow {
  text-shadow: 0px 0px 20px rgba(33,150,90,0.42);
}


.text-21965a
      {
        color: #21965a;
      }
